.topblock {
	p:last-child {
		margin: 0;
	}
	.block {
		margin: 0;
	}
	.block-content-wrap {
		display: flex;
	}
	.block-content {
		background: url('../images/bg-block.jpeg');
		background-size: 100%;
		padding: 40px;
		width: 100%;
		align-content: center;
		align-items: center;
		display: flex;
	}
	.block-image {
		img {
			width: 100%;
		}
	}
}

.products {
	img {
		width: 100%;
	}
}

.regions-group {
    margin: 20px 0 0 0;
}


.topwidget{
	text-align: center;

	.fa,.fas{
		color: #967a4c;
		font-size: 3em;
	}

	.topwidget-list .region .block{
		position: relative;
		background: #ead2a9;
		// padding: 20px 20px;
		overflow: hidden;
		margin-bottom: 30px;
		border-bottom: 5px solid #b69d74;

		h2{
			margin-bottom: 5px;
		}

		img {
			display: block;
    		width: 100%;
		}
		
	}

	.first {
		text-align: left;

		.region {
			.block{
				background: none;
				border: 0;
			}
		}
	}
}

// Contact page
.contact-message-feedback-form{
    max-width: 650px;
    margin: 0 auto;
    background: #fff;
    border: 1px solid $borderColor;
    padding: 20px 30px;
 }

.contact-message-feedback-form {

	.form-text, 
	.form-email, 
	.form-textarea{ 
		width: 100%; 
	}

}

// User Login Form
.user-login-form,
.user-form,
.user-pass{
	max-width: 500px;
    margin: 40px auto;
    border: 1px solid #e6e6e6;
    padding: 5px 20px;
    background: #fdfdfd;

	.form-text,
	.form-email{
		width: 100%;
	}
}

.form-composite > .fieldset-wrapper > .description, 
.form-item .description {
	color: #999;
	font-style: italic;
}


// Maintenance
.maintenance-page{
	background: image-url("maintenance-bg.png") #66CBFF center no-repeat;
	color: #fff;
	text-align: center;
	padding-top: 220px;
	padding-bottom: 100px;
	color: #000;

	.brand,
	.name-and-slogan{
		display: inline-block;
		vertical-align: middle;
	}

	.site-name a{
		color: #404040;
	}

	.site-slogan,
	.name-and-slogan{
		display: none;
	}
}

.maintenance-msg {
	margin: 20px 0;
	padding: 20px 30px;
	display: inline-block;
	color: #404040;
	border: 1px solid #fff;
	background: rgb(242, 244, 207);
	background: rgba(242, 244, 207, 0.88);
	@include box-shadow (5px 5px 0px #fff);

 	h1{
	  text-transform: uppercase;
	  font-weight: bold;
	}
}

// Profile Page
.path-user{

	.profile {

		> div{
			display: inline-block;
		}

		.label{
		  display: block;
		  color: #333;
		}
	}
}
