
// Variables
$fontFamily: 'Poppins', sans-serif;
$titleFontFamily: 'Poppins', sans-serif;
$baseFontSize: 14px;
$bodyBGColor: #fff;
$baseFontColor: #333;

$linkColor: #455a64;
$linkColorHover: #657d88;

// Menu Color
$menuTextColor: $linkColor;
$menuTextActiveColor: $linkColor;
$mobileMenuBg: #000;
$desktopMenuTextColor: #fff;
$desktopMenuDropDownBg: $linkColor;
$borderColor: #e8e8e8;

// Mixin
@mixin globalButton(){
	font-size: 1rem;
	background: none;
	cursor: pointer;
	color: #455a64;
	padding: 14px 30px;
	line-height: 100%;
	margin-right: 2px;
	display: inline-block;
	border: 1px solid #455a64;
	@include border-radius(0px);
}

@mixin globalButtonHover(){
	color: #fff;
    background: #455a64;
	border: 1px solid #455a64;
}